:root {
    --param-fg: #dc0058;
}

html,
body {
    background-color: #ffb700;
}

body {
    color: #202223;
    background-image: linear-gradient(to top, #ff005e26 0%, #0000 33%, #0000 80%, #ffd76652 100%);
    background-image: linear-gradient(to bottom, #ff006a42 0%, #0000 30rem);
}

code,
code > .params {
    color: var(--param-fg);
}

.js.block,
code.block {

}

pre + midi-graph,
pre + midi-monitor {
    margin-top: 1.875rem;
}
