
:host {
	display: block;
	width: 100%;
	/* default height */
	height: 28.125rem;
	/* Hide the body-block scollbar */
	overflow: hidden;
}

/* .block */

.block {
	display: block;
	box-sizing: border-box;
}

.head-block,
.body-block {
	width: calc(100% + 1rem);
	margin-left: 0;
	/* Move the scrollbar over to the right of the container's right edge. */
	margin-right: -1rem;
	padding-right: 1rem;
}

.head-block {
	height: 1.875rem;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.head-block .console-table {

}

.body-block {
	height: calc(100% - 31px);
	overflow: auto;
	margin-bottom: 1.5rem;
}

.body-block .console-table {
	/*background-color: rgba(15, 15, 15, 0.04);*/
}


/* table */

.console-table {
	margin: 0;
	width: 100%;
	border-spacing: 1px;
}

.console-table > tbody {
	overflow: auto;
}

.console-table th {
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 1.5rem;
	white-space: nowrap;
}

.console-table td {
	padding-top: 0.0625rem;
	padding-bottom: 0.0625rem;
	line-height: 1.125rem;
	font-family: 'Andale Mono', monospace;
	font-size: 0.8125rem;
	text-align: right;
	text-transform: uppercase;
	white-space: nowrap;
}

.console-table td,
.console-table th {
	box-sizing: border-box;
	text-align: right;
	padding-right: 0.125rem;
}

.console-table td {
	font-family: 'Andale Mono', monospace;
}

.console-table .time-td,
.console-table .time-th {
	width: 6rem;
	text-align: left;
	padding-left: 0.125rem;
	padding-right: 0;
}

.console-table .port-td,
.console-table .port-th {
	/*width: 4.5rem;*/
	text-align: left;
	padding-left: 0.125rem;
	padding-right: 0;
}

.console-table .time-td,
.console-table .port-td {
	font-size: 0.625rem;
}

.console-table .type-td,
.console-table .type-th {
	width: 6rem;
	text-align: left;
	padding-left: 0.125rem;
	padding-right: 0;
}

.console-table .type-td {
	text-transform: uppercase;
}

.console-table .chan-td,
.console-table .chan-th {
	width: 3rem;
}

.console-table .num-td,
.console-table .num-th {
	width: 3rem;
}

.console-table .note-td,
.console-table .note-th {
	width: 3rem;
}

.console-table .val-td,
.console-table .val-th {
	width: 3rem;
}

.console-table tr.on .type-td {
	position: relative;
}

.console-table tr.on .type-td:after {
	content: ' ';
	position: absolute;
	height: 0.625rem;
	width: 0.625rem;
	top: 0.3125rem;
	right: 0;
	background-color: hsl(220,56%,72%);
	border-radius: 0.5rem;
}

.console-table > tbody > tr:nth-child(odd) > td {
	background-color: rgba(0,0,0,0.03);
}

.console-table > thead > tr > td,
.console-table > tbody > tr > td {
	background-color: rgba(255,255,255,0.03);
}
