<div class="midi-graph" id="midi-graph">
	<canvas class="midi_canvas" width="1920" height="320"></canvas>
	
	<ul class="note_index inline_index index">
		 <li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li
		><li>G♯</li
		><li>A</li
		><li>B♭</li
		><li>B</li
		><li>C</li
		><li>C♯</li
		><li>D</li
		><li>E♭</li
		><li>E</li
		><li>F</li
		><li>F♯</li
		><li>G</li>
	</ul>
</div>